
:host {
    display: flex;
    height: 100%;
    align-items: center;
}

mat-card {
    width: 500px;
    background: rgba(164,179,182,0.8);
    border-radius: 15px;
    margin-top: 20%;
}

mat-card-header {
    color: #33266E;
    font-family: 'Asul', sans-serif;
}
mat-card-subtitle {
    color: #806543;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    text-shadow: 5px 2px 40px #FFEDA7, -5px -2px 40px #32CCB0;
    margin: 5px;
}
mat-card-content {
    color: #33266E;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

mat-card-content {
    padding: 8px;
}

.sizedBgImage {
    z-index:0;
    position: fixed;
    top: 0;
    left: 0;
}
