
:host {
    display: flex;
    height: 100%;
    align-items: center;
}

mat-card {
    width:500px;
    background: rgba(255,255,255,0.9);
}

mat-card-header {
    color: #3f51b5;
}

mat-card-content {
    padding: 8px;
}

.sizedBgImage {
    z-index:0;
    position: fixed;
    top: 0;
    left: 0;
}
