<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <h1><span class="light">DRAMATIC</span>DESIGNS</h1>

  <span class="spacer"></span>
  <a mat-button
  [routerLink]="['home']" routerLinkActive="active">HOME</a>

  <a mat-button
  [routerLink]="['about']" routerLinkActive="active">ABOUT US</a>

  <a mat-button
  [routerLink]="['work']" routerLinkActive="active">OUR WORK</a>

  <a mat-button
  [routerLink]="['contact']" routerLinkActive="active">GET IN TOUCH</a>
</mat-toolbar>

<h3><span class="light">Interiors</span>Exteriors</h3>

<router-outlet></router-outlet>
