.toolbar {
  background-color: #33266E;
}

mat-toolbar {
  position: relative;
  z-index: 1;
  overflow-x: auto;
}

mat-toolbar-row {
  justify-content:space-between;
}

a{
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

a.active {
  background-color: rgba(0,0,0, 0.3);
}

h1 {
  margin: 0;
  font-family: 'Asul', sans-serif;
}

h1 .light {
  font-weight: 100;
  margin: 5px;
}

.mainLogo {
  border-radius: 50%;
  max-width: 55px;
  margin: 15px;
  opacity: .9;
}
